.main {
  margin-top: 50px;
  padding: 0 150px;
}

.tittle {
  text-align: center;
  text-transform: uppercase;
}

.block-main {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

.block {
  background-color: #00bbff;
  border-radius: 15px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  padding: 40px 30px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.block-child {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.khoi-name {
  text-transform: uppercase;
  margin: 0;
  padding: 15px;
}

.content-main{
  padding: 0 25px;
}

.content {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #333;
}

.rank {
  width: 30%;
}

.classRoom {
  width: 70%;
}

.vinhdanh-main{
  display: flex;
  gap: 30px;
}

.vinhdanh-main >*{
  width: 100%;
}

.vinhdanh{
  padding: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.vinhdanh-child{
  display: flex;
  align-items: center;
  background-color: #fff;
}



.vinhdanh-image-main{
  width: 40%;
}

.vinhdanh-image{
  width: 120px;
  height: auto;
}

.vinhdanh-content-main{
  width: 60%;
}

.vinhdanh-name{
  font-weight: bold;
}

.hoatdong-main{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hoatdong{
  padding: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.hoatdong-child{
  display: flex;
  align-items: center;
  background-color: #fff;
}



.hoatdong-image-main{
  width: 40%;
}

.hoatdong-image{
  width: 220px;
  height: auto;
}

.hoatdong-content-main{
  width: 60%;
}

.hoatdong-name{
  font-size: 1.8rem;
  font-weight: bold;
}